<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Bio</th>
    <th>Twitter</th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%=h profile.bio %></td>
    <td><%=h profile.twitter %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
