<div class="content">
<% if @profile %>
<div class="profile">
<% if @profile.avatar %>
  <div id="avatar">
    <%= image_tag @profile.avatar.url(:medium) %>
  </div>
<% end %>

  <div class="bio">
    <b>Bio:</b>
    <%=h @profile.bio %>
  </div>
  <div class="services">
    <b>Twitter:</b>
    @<%=h @profile.twitter %>
  </div>

  <%= render :partial => 'shared/follow', :locals => { :user => @profile.user } -%>


<h2>Shared Feeds</h2>
<%= content_tag :p, "User has shared no feeds." if @profile.user.feeds.empty? %>
<% @profile.user.feeds.each do |f| %>
  <div class="feed"><span class="name"><%= f.name %> </span><%= link_to "More >>", user_feed_path(@profile.user, f), :html => {:class => 'more'} -%></div>
<% end %>
<%#= render :partial => 'feeds/feed', :collection => @profile.user.feeds %>


<div id="actions">
  <%= link_to "Update Profile", edit_user_profile_path(current_user) if @user == current_user%>
</div>

</div>

<% else %>
<h2>Profile Not Found.</h2>
<p>This user has not completed a profile.</p>
  <% if @user == current_user %>
  <%= link_to "Create Yours!", new_user_profile_path(current_user) %>
  <% end %>
<% end %>
<div style="clear:both"></div>
</div>
