- if current_user
  %h1 User Profile
  %p
    %strong Name:
    = current_user.name
  %p
    %strong Provider:
    = current_user.provider
  %p
    %strong OmniAuth UID:
    = current_user.uid
  %p= link_to "Log out", logout_path
- else
  %h1 Sign In
  %p
    %strong Sign in through one of these services:
  .auth_providers
    %a.auth_provider{:href => "/auth/twitter"}
      = image_tag "twitter_64.png", size: "64x64", alt: "Twitter"
      Twitter
    %a.auth_provider{:href => "/auth/facebook"}
      = image_tag "facebook_64.png", size: "64x64", alt: "Facebook"
      Facebook
    %a.auth_provider{:href => "/auth/google_oauth2"}
      = image_tag "google_64.png", size: "64x64", alt: "Google"
      Google
    %a.auth_provider{:href => "/auth/meetup"}
      = image_tag "meetup_64.png", size: "64x64", alt: "Meetup"
      Meetup
  %p
    %strong Don't use these services?
    = link_to "Create an account", new_identity_path
    or login below.
  = form_tag "/auth/identity/callback" do
    .field
      = label_tag :auth_key, "Email"
      %br
        = text_field_tag :auth_key
    .field
      = label_tag :password
      %br
        = password_field_tag :password
    .actions= submit_tag "Login"
