CURRENT USER:<%= current_user.email%>
CAN FOLLOW:<%= current_user.can_follow?(user)%>
<% if current_user && current_user.can_follow?(user) %>

  <% form_for Follow.new(:follower => current_user, :followable => user) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :follower_id %>
    <%= f.hidden_field :followable_type %>
    <%= f.hidden_field :followable_id %>
    <span>
      <%= f.submit 'Follow' %>
    </span>
  <% end %>
<% elsif current_user && current_user.follows?(user) %>
  <% form_for current_user.follow_for(user), :html => {:method => :delete} do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :follower_id %>
    <%= f.hidden_field :followable_type %>
    <%= f.hidden_field :followable_id %>
    <span>
      <%= f.submit 'Unfollow' %>
    </span>
  <% end %>
<% else %>
  <%# raise "ASPLODE!"%>
<% end %>
