<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Management Console | Start Charlotte</title>
  <%= stylesheet_link_tag 'styles' -%>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.3.2");
  </script>
</head>

<body id="manage">
  <div id="wrapper">
    <div id="login">
      <div class="links">
        <%= link_to "Home", root_url%>
      </div>
      
      <%= pluralize User.logged_in.count, "user" %> currently logged in // 
      <% if !current_user %>
        <%= link_to "Register", new_account_path %> |
        <%= link_to "Log In", new_user_session_path %> 
      <% else %>
        <%= link_to "My Account", account_path %> |
        <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
        <%= link_to "Manage", manage_index_path if current_user.in_role?('admin') -%>
      <% end %>
    </div>
    <div id="header">
      <h1>hubbubbly: your interests, your area</h1>
    </div>
    
    <%= content_tag :p, flash[:notice], :class=>"notice" -%>
    <%= content_tag :p, flash[:error], :class=>"error" -%>

  <div class="manage-sidebar">
    <ul>
      <li><%= link_to 'Manage Home', manage_index_path -%></li>
      <li><%= link_to 'Communities', manage_communities_path %></li>
      <li><%= link_to 'Feeds', manage_feeds_path %></li>
    </ul>  
  </div>

  <div class="content">
  <%= yield %>
  <div style="clear:both;"></div>
  </div>  
  <div id="footer">
    <div class="contact">
      <%= link_to 'hubbubbly.com', 'hubbubbly.com' -%><br/>
      a charlotte, nc company<br/>
    </div>
    <div class="links">
      <%= link_to 'about us', 'about'-%><br/>
      <%= link_to 'halp!', 'halp' -%>
    </div>
  <div style="clear:both;"></div>
  </div>
  <div id='copyright'>
    &copy; 2010, hububbly, llc
  </div>
  
  </div>
</body>
</html>

